/* KaTeX Display Fix */
.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0.75em 0;
}

/* KaTeX Font Size & Style Fix */
.katex, .katex .text-monospace {
  font-size: 1.1em !important;
  font-family: 'KaTeX_Main', 'Times New Roman', serif !important;
  font-weight: normal !important;
}

/* KaTeX Fraction Line Fix */
.katex .frac-line {
  border-bottom-color: #000 !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
}

/* General KaTeX alignment and spacing */
.katex, .katex-display {
    line-height: 1.6em !important;
    text-align: initial !important;
    text-indent: 0 !important;
}